<div class="landing-page" min-height-mode>
  <div class="header"></div>
  <div class="content">
    <div class="wrapper">
      <p-tabView (onChange)="handleTabChange($event)" [activeIndex]="tabIndex | async">
        <p-tabPanel header="Client Management">
          <div class="data-modes-container">
            <p-selectButton [options]="dataModes" [(ngModel)]="selectDataMode"></p-selectButton>
          </div>
          <div class="features-container">
            <div class="left-features">
              <button pButton type="button" class="ui-button-secondary" label="Delete Client"></button>
              <p-splitButton label="More..." [model]="moreFeatures" styleClass="ui-button-secondary"></p-splitButton>
            </div>
            <div class="right-features">
              <button pButton type="button" label="Add Client"></button>
              <button pButton type="button" label="Export List"></button>
              <button pButton type="button" label="Import Client Job"></button>
            </div>
          </div>
          <div class="data-table-container">
            <p-dataTable [value]="clients" [rows]="10" [immutable]="false"
                [paginator]="true" [rowsPerPageOptions]="[10,50,100]"
                styleClass="ui-paginator-left ui-reorderable" reorderableColumns="true" [style]="{'width':'100%'}"
                scrollable="true" scrollHeight="200px" scrollWidth="100%" frozenWidth="30%" unfrozenWidth="70%" #dt>
              <p-column [style]="{'width':'38px'}" selectionMode="multiple" frozen="true"></p-column>
              <p-column [style]="{'width':col.width}" *ngFor="let col of _clientManagementModel.columns | arrayFilter:filterCondition" [field]="col.value" [header]="col.label" [filter]="true"
                  filterPlaceholder="Search" [sortable]="true"
                  [filterMatchMode]="col.filterMode" [frozen]="col.frozen">
                <ng-template pTemplate="filter" let-col *ngIf="col.value == 'city'">
                    <p-multiSelect [options]="cities" defaultLabel="All Cities" styleClass="ui-column-filter"></p-multiSelect>
                </ng-template>
              </p-column>
            </p-dataTable>
            <div class="bottom-features">
              <button type="text" pButton label="Freeze Columns" icon="fa-caret-down" iconPos="right" class="ui-button-secondary" (click)="freezeColOP.toggle($event)"></button>
              <p-multiSelect [options]="_clientManagementModel.columns" [filter]="false" [displaySelectedLabel]="false"
                  defaultLabel="Show all Hide Columns" (onChange)="handleShowColumnsChange($event)" [(ngModel)]="_showColumns"></p-multiSelect>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Job Management">
            Content 2
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
  <div class="footer">(C) Copyright 2007-2017 Hancock Software all rights reserved (Version: 5.1.10.15 (G000665))</div>
</div>

<p-overlayPanel styleClass="freeze-panel" #freezeColOP>
  <p-listbox [options]="_clientManagementModel.columns" styleClass="auto-width" multiple="multiple"
      checkbox="checkbox" [(ngModel)]="_frozenColumns" (onChange)="handleFrozenColumnsChange($event)"></p-listbox>
  <div>
    <button type="text" pButton label="Customize"></button>
    <button type="text" pButton label="Cancel" class="ui-button-secondary"></button>
    <p-checkbox value="Save as preset" label="Save as preset"></p-checkbox>
  </div>
</p-overlayPanel>
