@import "~@/styles/mixin.g";
@import "~@/styles/fonts.g";

.router-container {
  min-height: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  height: 2rem;
  width: 100%;
  line-height: 2rem;
  background-color: rgb(74, 177, 72);
  position: absolute;
  bottom: 0;
  padding: 0 20px;
}
